test.zip
output.zip
output.png
weights.pt
weights.pth
config.yml
classification_weights.pth
classification_weights.pt
localization_weights.pt
localization_weights.pt
output/**
input/**
test/**
__pycache__/**
classify.py
localize.py
track.py
**.json
**.pth
**.pt
**.state
.github/workflows/**
logs/
results/
